# Exclude IDE's project directory
*nbproject
*/nbactions.xml
*/nb-configuration.xml

# Temporary files.
tmp*

# Log files
*.log

# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej

target
/nb-configuration.xml
target/
*target/